html 
    head
        title Pug for all
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    body
        h2= message
        p
        form(action="/register" method="POST").form-group
            input(type="text" placeholder="Firstname" name="email").form-control
            br
            br
            input(type="text" placeholder="email" name="email").form-control
            br
            br
            input(type="password" placeholder="password" name="password").form-control
            br
            input(type="submit" value="Register")
            
                

